@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #010101;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.55;
}

.header {
  position: relative;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  @include background(cover, center);
  will-change: transform;
  z-index: 3;
}

.layers {
  height: 100vh;
  @include flex(center, center);
  text-align: center;
  overflow: hidden;
  position: relative;

  &__back {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
  }

  &__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    z-index: 1;
  }

  &__front {
    transform: translate3d(0, -calc(var(--scrollTop) / 3), 0);
  }

  &__header {
    z-index: 2;
    position: relative;
    @include flex(center, center, column);
    text-transform: uppercase;
    font-weight: 800;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    margin-top: -8%;
  }

  &__title {
    color: #434252;
    font-size: calc($index * 3);
    letter-spacing: calc($index/6);
  }

  &__subtitle {
    font-weight: 400;
    width: 70vw;
    font-size: calc($index);
  }
}

.picture {
  min-height: 100vh;
  @include background(cover, center);
  @include flex(center, center);
  text-align: center;
  position: relative;
  overflow: hidden;

  &__title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc($index * 3);
    z-index: 5;

    &_2 {
      text-align: left;
      margin-left: -30%;
      transform: translateX(calc(var(--scrollTop) / 20));
      text-shadow: 2px 2px 2px #243228, -2px -2px 2px #243228;
    }
    &_3 {
      font-size: calc($index * 4);
      transform: translateY(calc(var(--scrollTop) / 15));
      text-shadow: 2px 2px 2px #253e60, -2px -2px 2px #253e60;
    }
    &_4 {
      align-self: flex-start;
      transform: translateY(calc(var(--scrollTop) / 20));
      text-shadow: 2px 2px 2px #d3d9e0, -2px -2px 2px #d3d9e0;
    }
    &_5 {
      align-self: flex-start;
      margin-left: -30%;
      transform: translateY(calc(var(--scrollTop) / 18));
    }
  }

  &__front {
    height: 100%;
    width: 100%;
    position: absolute;
    @include background(cover, center);
    will-change: transform;
    z-index: 20;
  }
}
